.Rproj.user
*.Rproj.user
*.Rhistory
*.Rproj
.secret
.trunk
.vs/*
.vscode/*
*.env
!env/.env.example
*.docx
*.pem
*.zip

.aws/*
keys/

local/*

cloudfront/*.csv
cloudfront/keys

icpm/*

cross_account/*

/lambda/duckdb-layer/python/*
rapids-cli/*

archive/


