.Rproj.user
*.Rproj.user
*.Rhistory
*.Rproj
.secret
.trunk
.vs/*
.vscode/*
*.env
*.docx
*.pem
*.zip

.aws/*

local/*

cloudfront/*.csv
cloudfront/keys

icpm/*

cross_account/*

/lambda/duckdb-layer/python/*
rapids-cli/*


