# AWS Account IDs
AWS_ACCOUNT_ID_PRIMARY=535362115856
AWS_ACCOUNT_ID_LAMBDA=650251715690

# AWS Regions
AWS_REGION_PRIMARY=us-east-1
AWS_REGION_LAMBDA=us-east-2

# AWS Profiles
AWS_PROFILE=default

# ACM Certificate
ACM_CERTIFICATE_ID=59a5f2eb-4880-46e5-8318-7469c04fc980

# ECR Repository
ECR_REPOSITORY_NAME=test_duckdb
ECR_IMAGE_TAG=latest

# Lambda Function
LAMBDA_FUNCTION_NAME=duckdb-os-tester
LAMBDA_ROLE_ARN=arn:aws:iam::${AWS_ACCOUNT_ID_LAMBDA}:role/afrl-lambda
